header {
  box-sizing: border-box;
  position: fixed;
  width: 100vw;
  height: 8vh;
  padding: 0 2rem;
  top: 0;

  display: flex;
  align-items: center;
  justify-content: space-between;

  background-color: var(--soft-blue);
}

header a {
  text-decoration: none;
}

header a img {
  width: 3rem;
}

header h1 {
  color: var(--soft-grey-dark);
}

.navigation {
  font-size: clamp(1rem, 3vw, 2rem);
  color: var(--soft-grey);
}

.navigation a {
  margin: 0 2rem;
  text-decoration: none;
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  color: var(--soft-grey-dark);
  font-size: clamp(1rem, 2vw, 1.4rem);
  transition: .2s;
}

.navigation a:hover {
  background-color: #fefefe;
  box-shadow: 0 0 8px 4px #fefefe;
  border-radius: 6rem;
}
