header {
  box-sizing: border-box;
  position: fixed;
  width: 100vw;
  height: 8vh;
  padding: 0 2rem;
  top: 0;

  display: flex;
  align-items: center;
  justify-content: space-between;

  background-color: var(--soft-blue);
}

header a img {
  width: 3rem;
}

header h1 {
  color: var(--soft-grey-dark);
}

.navigation {
  font-size: 1.6rem;
  color: var(--soft-grey);
}

.navigation a {
  text-decoration: none;
  font-family: 'Roboto', sans-serif;
  font-weight: 500;
  font-size: 1.2rem;
  color: var(--soft-grey-dark);
}

.navigation a:first-child {
  margin-right: 1.2rem;
}

.navigation a:last-child {
  margin-left: 1.2rem;
}

.navigation a:hover {
  border-bottom: 2px solid #105740;
}