#landing {
  width: 100vw;
  height: 100vh;
  padding-top: 8vh;
  display: grid;
  grid-template-columns: 1fr 6fr;
}

.landing-content {
  display: flex;
  align-items: center;
  justify-content: center;
}

.links {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.box-info {
  background: var(--light-green);
  width: 40%;
  height: 80%;
  margin: 1.6rem;
  border-radius: 1.2rem;
  overflow: hidden;
}

.box-info h2 {
  padding: 1rem;
  background: var(--soft-blue);
  text-align: center;
  color: #49536b;
}

.box-info + .box-info {
  display: flex;
  flex-direction: column;
}

.box-info a {
  display: flex;
  justify-content: center;
  align-items: center;
}

.big-icons {
  height: 10%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.big-icons img {
  width: 90%;
  height: 50%;
}

.small-icons {
  height: 30%;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}

.small-icon {
  width: 6rem;
  height: 6rem;
}

.small-icon img {
  width: 100%;
  height: 100%;
}

.text-box {
  margin: 0.1rem 0.4rem 0.4rem 0.4rem;
  color: #105740;
  height: 70%;
  line-height: 1;
  font-size: clamp(0.85rem, 2vw, 1rem);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.box-info a:hover {
  transform: scale(1.1);
}
